page-home {
  .goal-btn {
    left: 0px;
    top: 75vw;
    -webkit-transform: translate(-33%, 0%);
    transform: translate(-33%, 0%);

    .fab {
      background-color: #f53d3d;
    }

    .button-inner {
      width: 120%;
    }
  }
}
