page-home {
  .goal-btn {
    left: 0px;
    top: 75vw;
    -webkit-transform: translate(-40%, 0%);
    transform: translate(-40%, 0%);

    .fab {
      background-color: #f53d3d;
    }

    .button-inner {
      width: 135%;
    }
  }

  .item-divider-md {
    height: 40px;
    background-color: #eee;
    border-bottom: 3px solid #dedede;
  }
}
